body {
  margin: 0;
  font-family: 'Roboto Slam';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(235, 195, 233);
}

code {
  font-family: 'Roboto Slam';
}
